*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: "Ubuntu", sans-serif;
	background: url(./assets/bg_pattern.png);
}

.players {
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-items: center;
	text-align: center;
	background-color: hsl(0, 0%, 100%, 0.3);
	border-radius: 2em;
	border: 1px solid black;
	width: 50%;
	margin: 2em auto;
	padding: 1em;
}

h2 {
	padding: 0.5em;
	border-radius: 0.5em;
	background-color: transparent;
	color: black;
	transition: all 250ms ease-in;
}

.score1,
.score2 {
	font-size: 2em;
}

.outcome {
	display: grid;
	grid-template-columns: 1fr;
	place-items: center;
	text-align: center;
	background-color: hsl(0, 0%, 100%, 0.3);
	border-radius: 0.5em;
	border: 1px solid black;
	width: 20%;
	margin: 0 auto;
	padding: 0.5em;
	font-size: 2em;
}

.container {
	display: grid;
	place-content: center;
	margin-top: 2em;
}

#game-board {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	gap: 1em;
	padding: 2em;
	background-color: hsl(0, 0%, 100%, 0.8);
	border: 1px solid black;
	border-radius: 2em;
}

.field-block {
	width: 100px;
	aspect-ratio: 1;
	background-color: hsl(0, 0%, 80%);
	border-radius: 1em;
}

.X {
	background: url(./assets/X.svg) center no-repeat;
	aspect-ratio: 1;
	background-size: contain;
	background-color: hsl(240, 50%, 50%);
	border-radius: 1em;
}

.O {
	background: url(./assets/O.svg) center no-repeat;
	aspect-ratio: 1;
	background-size: contain;
	background-color: hsl(0, 50%, 50%);
	border-radius: 1em;
}

.is-round h2 {
	background-color: black;
	color: white;
}
